/node_modules
/public/hot
/public/storage
/storage/framework
/storage/logs
storage/database_backup_*.sql
/storage/*.key
/storage/*.tar.gz
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
rr
.rr.yaml
# Google Cloud credentials
compact-nirvana-457221-d6-b83c7a9dba1f.json
