/vendor/
/node_modules/
/.phpunit.cache/
/storage/*.key
/storage/backups/
/public/build/
/public/hot/
/public/storage/
/.env.backup
/.env.production
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
/.fleet
/.idea
/.vscode
*.log
npm-debug.log
yarn-error.log

/storage/framework/views/*

/storage/archived_code/*

# Ignore Google Cloud credentials
/storage/app/google-cloud-credentials.json
.env
.DS_Store
