{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 4,
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto"
}
